body {
  margin: 0;
  padding: 0;
  background: black;
}

.blue {
  width: 350px;
  margin: 20px 0 40px 20px;
  padding: 10px;
  background: #308dc0;
  border: 1px solid #e75551;
  box-sizing: border-box;
}

.orange {
  border: 1px solid #e75551;
  padding: 10px;
  background: #ffa500;
}

.gray {
  border: 1px solid #e75551;
  padding: 10px;
  background: #ddd;
}
